@font-face {
    font-family: 'primetime';
    src:    url('./fonts/PRIMETIME.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'espera';
    src:    url('./fonts/Espera/Espera-Regular.ttf') format('truetype'),
            url('./fonts/Espera/Espera-Italic.ttf') format('truetype'),
            url('./fonts/Espera/Espera-Bold.ttf') format('truetype'),
            url('./fonts/Espera/Espera-BoldItalic.ttf') format('truetype');
    font-weight: normal, bold;
    font-style: normal, italic;
}

@font-face {
    font-family: 'muro';
    src:    url('./fonts/Muro/Muro.otf') format('opentype'),
            url('./fonts/Muro/Muroslant.otf') format('opentype');
    font-weight: normal;
    font-style: normal, italic;
}

@font-face {
    font-family: 'corp';
    src:    url('./fonts/corp_round_v1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oldlondon';
    src: url('./fonts/OldLondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'oldlondon';
}

%default-text {
    color: black;
    letter-spacing: 1px;
    font-family: oldlondon;
}

h1, h2, p, div {
    @extend %default-text;
}

.hero {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.title {
    width: 100%;
    margin-bottom: 5em;
    text-align: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn ease 5s;

    h1 {
        font-size: 140px;
        margin: 0 0 8px 0;
        letter-spacing: 30px;
        text-shadow: 6px 4px #FA7785;

        @media only screen and (max-width: 1450px) {
            font-size: 7vw;
        }

        @include tablet-or-smaller {
            font-size: 9.8vw;
            margin: 0 0 0.2em 0;
            letter-spacing: 2vw;
            text-shadow: 0.5vw 0.45vw #FA7785;
            margin-bottom: 0.15em;
        }
    }

    h2 {
        font-size: 60px;
        margin: 0;
        letter-spacing: 20px;

        @media only screen and (max-width: 1450px) {
            font-size: 3vw;
        }

        @include tablet-or-smaller {
            font-size: 5vw;
            margin: 0;
            letter-spacing: 1.2vw;
            text-shadow: 0.4vw 0.4vw #FA7785;
        }
    }
}

.japanese-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    list-style: none;
    padding-left: 0;
    margin: 0;

    @media only screen and (max-width: 1450px) {
        max-width: 800px;
    }

    @include desktop-or-bigger {
        //margin: -1em 0 -0.5em 0;
    }
}

.japanese-text {
    @extend %default-text;
    font-family: corp;
    font-size: 45px;
    //position: relative;
    //width: 100%;
    //letter-spacing: 95px;
    white-space: nowrap;

    @media only screen and (max-width: 1450px) {
        font-size: 2.5vw;
    }

    @include tablet-or-smaller {
        font-size: 3vw;
        text-shadow: 0.4vw 0.4vw #FA7785;
        padding: 0 1vw;   
    }
}

p {
    margin-top: 0;
}

.blurb-container {
    @extend .hero;
}

.blurb {
    max-width: 1162px;
    z-index: 5;

    p {
        text-shadow: 2px 1px #FA7785;
        font-size: 45px;
        text-align: center;

        @include tablet-or-smaller {
            font-size: 4vw;
            text-shadow: 1px 1px #FA7785;
        }
    }
}

.scroll-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    animation: promptFade 5s ease 3s backwards;

    p {
        text-shadow: 2px 1px #FA7785;
        margin: 0;
        animation: promptHover ease-in-out 3s infinite;

        @include tablet-or-smaller {
            font-size: 4vw;
            text-shadow: 1px 1px #FA7785;
        }
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes promptFade {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes promptHover {
    0% {transform: translatey(0px);}
    50% {transform: translatey(-15px);}
    100% {transform: translatey(0px);}
}

.main-background {
    background-image: url('../images/Door-Background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    z-index: -10;
    position: fixed;
    top: 0;
}

.password-wrapper {
    background-image: url('../images/Oblivion-Parchment.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 800px;
    padding-top: 300px;
    flex-direction: column;

    * {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .instruction {
        font-size: 21px;
    }

    input {
        font-size: 30px;
    }

    .submit-button {
        font-size: 30px;
        background-image: url('../images/Oblivion-Button.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 150px;
        height: 57px;
        padding-top: 10px;
    }
}

.invitation {
    background-image: url('../images/Oblivion-Parchment.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 140vw;
    overflow-y: visible;

    * {
        width: 80vw;
        display: block;
        margin: auto;
    }
}

.tree-branch {
    //background-image: url('../images/Cherry-Blossom.png');
    height: 85vh;
    width: 85vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;

    @include tablet-or-smaller {
        opacity: 0.3;
        background-size: cover;
        background-position: -20px bottom;
        height: 100vh;
        width: 100vw;
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin: 5em 0;
    text-align: center;
}

$breakpoints: (
    'mobile': 320px,
    'tablet': 768px,
    'desktop': 1024px,
    "widescreen": 1600px,
);
